{
	FilesToRename = {
		"Project_Prefix.pch" = "___PROJECTNAMEASIDENTIFIER____Prefix.pch";
		"CustomPluginPrincipal.h" = "___PROJECTNAMEASIDENTIFIER___Principal.h";
		"CustomPluginPrincipal.m" = "___PROJECTNAMEASIDENTIFIER___Principal.m";
	};
	FilesToMacroExpand = (
		"Info.plist",
		"___PROJECTNAMEASIDENTIFIER____Prefix.pch",
		"___PROJECTNAMEASIDENTIFIER___Principal.m",
		"___PROJECTNAMEASIDENTIFIER___Principal.h",
	);
	Description = "This project builds a Quartz Composer Plug-In using Kineme's SkankySDK";
}
