<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyPatch</string>
	<key>Description</key>
	<string>An Objective-C class file with SkankySDK Custom Patch stubs.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILENAME___.m</string>
	<key>Name</key>
	<string>SkankySDK Custom Patch</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Summary</key>
	<string>A SkankySDK Custom Patch</string>
</dict>
</plist>
